.container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans, Ancizar Sans;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(214, 214, 214);

  @media (max-width: 800px) {
    font-size: 1.2rem;
  }

  .title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.2);
  }

  .head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;

    select,
    input {
      border-radius: 10px;
      max-width: 400px;
      border-width: 1px;
      border-style: solid;
      color: rgb(255, 246, 246);
      outline-color: lightblue;
      padding: 10px;
      flex-grow: 1;
      width: 100%;
      font-size: 1.1rem;
      font-weight: 600;
      font-family: Ancizar Sans, Open Sans;
      background: rgb(40, 43, 44);
      padding-left: 20px;

      option {
        padding-left: 10px;
      }
    }

    button {
      background: hsl(133, 100%, 24%);
      border-radius: 10px;
      border-width: 1px;
      border-style: solid;
      border-color: skyblue;
      width: 100px;
      padding: 10px 20px;
      font-family: Ancizar Sans;
      font-size: 1.1rem;
      font-weight: 600;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      top: calc(auto + 20px);
    }

    button.claim {
      background: hsl(207, 78%, 38%);
    }

    button.claim::before {
      content: '↑';
      margin-right: 10px;
      transform: translateY(-3px);
    }

    button:active {
      transform: scale(0.96);
      background: hsl(207, 78%, 48%)
    }
  }


  .body {
    height: fit-content;
    width: 100%;
    max-width: 700px;

    .topRanker {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      >div {
        flex-shrink: 1;
        padding: 20px;
        background: rgb(40, 43, 44);
        border-radius: 10px;
        box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .leaderboard {
      box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.2);

      scrollbar-width: none;
      /* Firefox */
      -ms-overflow-style: none;
      /* IE and Edge */
      max-height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      box-sizing: border-box;
      margin: 10px;
      width: calc(100% - 20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background: rgb(40, 43, 44);
      padding: 10px;
      border-radius: 10px;
      margin-top: 20px;

      &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
      }

      .boardhead {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        margin: 6px 0;

        span {
          font-family: Ancizar Sans;
          font-weight: 600;
          font-size: 1.4rem;
        }
      }

      .player {
        font-size: 1rem;
        font-weight: 600;
        font-family: Ancizar Sans;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        margin: 6px 0;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: rgb(117, 117, 117);

        span {
          padding: 0 20px;
        }
      }
    }
  }
}