body {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #ccc;
  display: flex;
  justify-content: center;
  color: rgb(50, 50, 50);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}